:root {
  --footer-background-color: #F8F8F8;
  --header-color: #1c1c24;
  --support-text-color: #f26522;
  --grey-text-color: #E0DFDE;
  --grey-text-color-non-header: #9ba4a7;
}

footer {
    background-color: var(--footer-background-color);
    min-height: 110vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4em;
    padding: 5em 10em;
}

#main__emphasis {
    display: grid;
    height: 50vh;
    gap: 5em;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
}

#left__emphasis {
   display: flex;
   flex-direction: column;
   gap: 2em;
}

#email {
    color: var(--support-text-color);
}

#left__emphasis > p {
    font-size: 37.3248px;
    font-weight: 500;
}

#left__emphasis > p > strong {
    color: var(--support-text-color);
}

#left__emphasis > h1 {
    font-size: 8em;
    position: relative;
    color: var(--grey-text-color);
}

#left__emphasis > h1::before {
    content: "Get in touch";
    font-size: 20px;
    position: absolute;
    top: 60%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--support-text-color);


}

#left__emphasis > *:first-child{
    margin-top: auto;
}

#right__emphasis {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 19.9998px;
    letter-spacing: 2px;
    color: var(--grey-text-color-non-header);
}

#right__emphasis > p {
    margin-top: auto;
    margin-bottom: 4em;
}

#grid__points {
    height: 55vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 5em;
}

.points {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.points button{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.2em;
    margin: auto 0;
}